name: Production Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to Railway
        run: |
          npm install -g @railway/cli
          railway link --projectId ${{ secrets.RAILWAY_PROJECT_ID }}
          railway up

        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
          MONGO_URL: ${{ secrets.MONGO_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
